<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Open Works</title>
	<meta name="author" content="Open Works">
	<meta name="description" content="Work | Employ">
	<meta property="og:title" content="Open Works" data-shuvi-head="true">
	<meta property="og:site_name" content="Open Works" data-shuvi-head="true">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ramabhadra&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&family=Paytone+One&family=Poppins&family=Ramabhadra&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="window.css">
</head>
<body>
    <div>
        <div>
            <header>
                <div class="scroll_opt">
                    <select class="vacancy">
                        <option>Work</option>
                        <option>Design</option>
                        <option>Advancement</option>
                        <option>Edit</option>
                        <option>Creative</option>
                        <option>Development</option>
                        <option>Other</option>
                    </select>
                    <select class="vacancy">
                        <option>Pace</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>Hard</option>
                        <option>Professional</option>
                        <option>Teamwork</option>
                        <option>Other</option>
                    </select>
                    <select class="vacancy">
                        <option>Choose</option>
                        <option>By reviews</option>
                        <option>By verified</option>
                        <option>By price</option>
                        <option>By optional</option>
                        <option>By rate</option>
                        <option>Other</option>
                    </select>
                </div>
            </header>
        </div>
    </div>
</body>
</html>