<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Open Works</title>
	<meta name="author" content="Open Works">
	<meta name="description" content="Work | Employ">
	<meta property="og:title" content="Open Works" data-shuvi-head="true">
	<meta property="og:site_name" content="Open Works" data-shuvi-head="true">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ramabhadra&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&family=Paytone+One&family=Poppins&family=Ramabhadra&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="main.js"></script>
</head>
<body>
    <div>
        <div>
            <div class="form_tl">
                <div class="head_view">
                    <img class="ui_img" width="40px" height="40px" src="https://i.postimg.cc/RZKXQGsf/person.png">
                    <h2>53..54</h2>
                    <img class="ui_img" width="50px" height="50px" src=https://i.postimg.cc/bvj83Czj/reload.png">
                </div>
                <div style="display: flex; justify-content: center; align-items: center; margin: 0px; padding: 0px;">
                    <h2 style="font-size: 29px; color: #707579;">$</h2>
                    <h3>0.00</h3>
                </div>
                <div class="bottom_view">
                    <div style="display: grid; align-items: center; justify-content: space-around;">
                        <img width="50px" height="50px" src="https://i.postimg.cc/8zVF2b4T/add.png">
                        <h2 style="font-size: 12px; text-align: center;">Receive</h2>
                    </div>
                    <div class="separate"></div>
                    <div style="display: grid; align-items: center; justify-content: space-around;">
                        <img width="50px" height="50px" src="https://i.postimg.cc/63BD2TXk/send.png">
                        <h2 style="font-size: 12px; text-align: center;">Send</h2>
                    </div>
                    <div class="separate"></div>
                    <div style="display: grid; align-items: center; justify-content: space-around;">
                        <img width="50px" height="50px" src="https://i.postimg.cc/SNy8jh3w/work.png">
                        <h2 style="font-size: 12px; text-align: center;">Work</h2>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="history_ml">
                <div style="display: flex; justify-content: space-between; padding: 5px;">
                    <button>Activity</button>
                    <button>Rating</button>
                </div>
                <div class="scroll_ev">
                    <div style="display: block; justify-content: center; text-align: center;">
                        <div style="display: grid; justify-content: center; align-items: center;">
                            <img style="border-radius: 20px;" width="85px" height="85px" src="duck.gif">
                        </div>
                        <div>
                            <h2 style="color: #707579;">Not activity yet</h2>
                        </div>
                    </div>
                </div>
                <div class="other_v">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <img style="border-radius: 10px;" width="45px" height="45px" src="https://i.postimg.cc/sXPrDcfy/settings.png">
                        <h3 style="font-size: 20px; color: #3390EC;">Settings</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>